// Google fonts
@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Homemade+Apple|Lobster|Mr+Dafoe|Pacifico|Sacramento|Satisfy|Nanum+Gothic|Raleway');
// Variables
$font-caveat: Caveat;
$font-dancing-script: Dancing+Script;
$font-homemade-apple: Homemade+Apple;
$font-lobster: Lobster;
$font-mr-dafoe: Mr+Dafoe;
$font-pacifico: Pacifico;
$font-sacramento: Sacramento;
$font-satisfy: Satisfy;
$font-nanum-gothic: Nanum+Gothic;
$font-raleway: Raleway;
$colour-orange: #ff5e3a;
$colour-grey: #9a9fbf;
$colour-yellow: #ffc923;
$colour-blue: #4f89fe;
$colour-deep-grey: #4d4d4d;
$colour-light-grey: rgb(218, 216, 216);

.btn:focus{
  box-shadow: 0 0 0 0.2rem white!important;
}

.chat {
  display: flex;
  background-color: white;
  .wrapper-users-for-conversations {
    width: 200px;
    height: 470px;
    background-repeat: no-repeat;
    background-size: fill;
    background-image: url('http://cdn.shopify.com/s/files/1/1320/9989/products/Calm_Palms-crop-web_grande.jpg?v=1531254500');
    position: relative;
    .users-for-conversations {
      margin: 0;
      padding: 10px;
      cursor: pointer;
      .user {
        display: flex;
        .user-avatar {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          object-fit: fill;
          border: 1px solid black;
          margin: 0 5px 0 0;
        }
        .user-name {
          margin: 0;
          padding: 0;
        }
      }
    }
    .users-for-conversations:hover {
      background-color: $colour-light-grey;
    }
    .search {
      width: 100%;
      position: absolute;
      bottom: 5px;
    }
  }

  .chat-container {
    width: 300px;
    border: 2px solid red;
    background-color: white;
    .messages-window {
      width: 300px;
      height: 350px;
      .participants-container {
        padding: 5px 10px;
        background-color: #ede1fa;
        margin: 0 5px 0 0;
        .participants-info {
          font-weight: bold;
          margin: 0;
        }
        .participants {
          .participant {
            margin: 0;
            font-size: 0.8em;
            font-style: italic;
          }
        }
      }

      .message-details{
        padding: 5px 10px;
        font-size: 0.8em;
        .author {
          margin: 0;
          font-style: italic;
          color: $colour-grey;
        }
        .message {
          margin: 0;
          color: $colour-deep-grey;
        }
      }
    }
    .message-btn {
      width: 100%;
      height: 50px;
    }
    .btn-info {
      background-color: rgb(92, 69, 110);
    }
  }
}