// Google fonts
@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Homemade+Apple|Lobster|Mr+Dafoe|Pacifico|Sacramento|Satisfy|Nanum+Gothic|Raleway');
// Variables
$font-caveat: Caveat;
$font-dancing-script: Dancing+Script;
$font-homemade-apple: Homemade+Apple;
$font-lobster: Lobster;
$font-mr-dafoe: Mr+Dafoe;
$font-pacifico: Pacifico;
$font-sacramento: Sacramento;
$font-satisfy: Satisfy;
$font-nanum-gothic: Nanum+Gothic;
$font-raleway: Raleway;
$colour-orange: #ff5e3a;
$colour-grey: #8e92ad;
$colour-yellow: #ffc923;
$colour-blue: #4f89fe;
$colour-deep-grey: #4d4d4d;
$colour-light-grey: rgb(218,216,216);

//Styles
a {
  text-decoration: none;
  color: $colour-grey;
  cursor: pointer;
}
.container {
  margin-top: 30px;
}

.row {
  justify-content: center;
}

// ng classes
.info {
  visibility: none;
}

.error-message {
  display: block;
  color: red;
}
.error-input {
  box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);
}

.success-message {
  display: block;
  color: rgb(0, 204, 102);
}

.success-input {
  box-shadow: 0 0 0 0.2rem rgba(0,204,102,.25);
}