
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <label>Current first name: {{ details.first_name }}</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="New first name" 
          [(ngModel)]="details.first_name"
          [ngClass]="fieldsInfo">
      </div>
      <div class="form-group">
        <label>Current first name: {{ details.last_name }}</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="New last name" 
          [(ngModel)]="details.last_name"
          [ngClass]="fieldsInfo">
      </div>
      <div class="form-group">
        <label>Email address {{ details.email }}</label>
        <input 
          type="email" 
          class="form-control" 
          placeholder="New email" 
          [(ngModel)]="details.email"
          [ngClass]="fieldsInfo">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        <small 
          class="form-text " 
          [ngClass]="fieldsMessage">{{message}}
        </small>
      </div>
      <button type="submit" class="btn btn-primary" (click)="editDetails()">Submit</button>
    </div>

    <div class="password col-md-6">
      <label>Current password</label>
      <input 
        type="password" 
        class="form-control" 
        placeholder="Current password" 
        [(ngModel)]="passwords.prev_password" 
        [ngClass]="fieldsInfoPassword">
      <label>New password</label>
      <input 
        type="password" 
        class="form-control" 
        placeholder="New password" 
        [(ngModel)]="passwords.new_password" 
        [ngClass]="fieldsInfoPassword">
      <small 
        class="form-text " 
        [ngClass]="fieldsMessagePassword">{{messagePassword}}
      </small><br>
      <button 
        type="submit" 
        class="btn btn-primary" 
        (click)="changePassword()">Save password</button>
    </div>

  </div>
</div>