<div class="blog-wraper">
  <div class="blog">

    <div class="main-menu">
      
      <ul class="menu-items">
        <li class="circle-menu">
          <div class="love-it" (click)="likeIt(blog._id)">
            <span class="circle-menu-info">Love it</span>
          </div>
        </li>
        <li class="circle-menu">
          <div class="add-to-fave">
            <span class="circle-menu-info">Add to favourite</span>
          </div>
        </li>
        <li class="circle-menu">
          <div class="share">
            <span class="circle-menu-info">Share</span>
          </div>
        </li>
        <li class="circle-menu">
          <div class="comment" (click)="openComments=!openComments">
            <span class="circle-menu-info">Comment</span>
          </div>
          <app-comment *ngIf="openComments" [blog_id]="blog._id">
          </app-comment>
        </li>

        <li class="circle-menu">
          <div class="most-popular">
            <span class="circle-menu-info">Popular</span>
          </div>
        </li>
      </ul>
    </div>

    <!-- header -->
    <header
      [ngClass]="headerClass"
      [ngStyle]="{'background-image': headerClass==='header-image' ? 'url(' + serverUrl + blog.photos[0] + ')' : null}">
      <div class="avatar" *ngIf="blog.user.avatar">
        <img [src]="serverUrl + blog.user.avatar" alt="Loading...">
      </div>
      <div class="name-action">
        <div class="blog-info">
          <div class="blog-details">
            <div class="user-name" *ngIf="blog.user">{{ usersFullName(blog.user.first_name, blog.user.last_name) }}
              <div class="online-status">
              </div>
            </div>
            <span *ngIf="blog.theme">{{blog.theme.themeDescription}}
              <span class="blog-theme">{{ blog.theme.title | lowercase }}
             </span>
           </span>
            <span *ngIf="blog.photos !== null && blog.photos.length > 1"> uploaded
              <span class="gallery-length">{{ blog.photos.length }}
             </span>
              <span class="blog-theme">new photos
             </span>
           </span>
          </div>
          <p *ngIf="blog.created_at" class="date">{{ blog.created_at | date }}</p>
        </div>
      </div>
      <div class="user-menu" *ngIf="this.userDetails?._id === this.blog.user._id">
        <button type="button" class="close icon user-menu-btn">
          <div aria-hidden="true" class="user-menu-icon icon" (click)="showMenu = !showMenu"></div>
        </button>
        <ul class="user-menu-items" *ngIf="showMenu">
          <li (click)="closePopUp()">edit</li>
          <li (click)="deleteBLog(blog._id)">delete</li>
          <li>save as favourite</li>
          <li>report</li>
        </ul>
      </div>

    </header>

    <!-- body -->
    <div class="body">
      <p
        *ngIf="blog.description"
        class="description">{{ blog.description }}
      </p>
      <a [href]="blog.url"
         *ngIf="blog.url != null && !id"
         class="url">{{ blog.url }}
      </a>
      <div *ngIf="blog.photos !== null && blog.photos.length > 1" (click)="openLg(fullBlog)">
        <div class="image-wrapper">
          <ul class="image-list">
            <li class="w2-col">
              <img [src]="serverUrl + blog.photos[0]" alt="...Loading">
            </li>
            <li class="w2-col">
              <img [src]="serverUrl + blog.photos[1]" alt="...Loading">
            </li>
            <li *ngIf="blog.photos[2]" class="w3-col">
              <img [src]="serverUrl + blog.photos[2]" alt="...Loading">
            </li>
            <li *ngIf="blog.photos[3]" class="w3-col">
              <img [src]="serverUrl + blog.photos[3]" alt="...Loading">
            </li>
            <li *ngIf="blog.photos[4]" class="w3-col">
              <img [src]="serverUrl + blog.photos[4]" alt="...Loading">
              <a
                href="#"
                class="cover-link"
                *ngIf="blog.photos !== null && blog.photos.length > 5">
                +{{blog.photos.length-5}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <youtube-player
        *ngIf="id"
        [videoId]="id"
        (ready)="savePlayer($event)">
      </youtube-player>
      <button
        class="full-story-btn"
        (click)="openLg(fullBlog)"
        (change)="onStateChange($event)"
        *ngIf="blog.photos !== null && blog.photos.length > 1">FULL STORY
      </button>
    </div>

    <div class="border-line"></div>

    <!-- footer -->
    <footer>
      <div class="show-comments" *ngIf="showComments" >
        <div *ngFor="let comment of blog.comments">
          
        <div class="full-comment">

            <div class="avatar">
              <img [src]="serverUrl + comment.avatar" alt="Loading...">
            </div>
            
            <div class="blog-details">
              <div class="blog-info">
                <div class="user-name">{{ usersFullName( comment.first_name, comment.last_name ) }}
                  <div class="online-status">
                  </div>
                </div>
                <p class="date">{{ comment.created_at | date }}</p>
              </div>
              <div class="comment-full-text">
                {{comment.content}}
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="users-likes">
        <div class="likes">
          <div class="likes-icon" (click)="likeIt(blog._id)"></div>
          <span *ngIf="blog.likes.length" class="users-counter">{{blog.likes.length}}</span>
        </div>
        <div class="comments" (click)="showComments=!showComments">
          <div class="comments-icon"></div>
          <span *ngIf="blog.comments" class="users-counter">{{blog.comments.length}}</span>
        </div>
        <div class="share">
          <div class="share-icon"></div>
          <span class="users-counter">5</span>
        </div>
        <div *ngIf="blog.likes.length">
          <div class="users-wrapper">
            <img *ngFor="let image of blog.likes.slice().reverse().slice(0, 4)" class="users-who-liked-blog" [src]="serverUrl + image.avatar" alt="Loading">
          </div>
       </div>
        <div class="more-users-who-liked-blog" *ngIf="blog.likes.length">
          <span *ngFor="let like of blog.likes.slice().reverse().slice(0, 2)">
            {{ like.first_name }},
          </span>
          <span *ngIf="blog.likes.length > 2"> and {{ blog.likes.length - 2 }} other <br> people </span>
          <span>liked it</span>
        </div>
      </div>
      <h2
        *ngIf="blog.theme"
        class="theme">{{ blog.theme.title }}
      </h2>
    </footer>
  </div>
</div>

<!-- modal window for full stories -->
<ng-template #fullBlog let-c="close">
  <!-- modal header -->
  <div
    class="modal-header"
    [ngClass]="headerClass"
    [ngStyle]="{'background-image': headerClass==='header-image' ? 'url(' + blog.photos[0] + ')' : null}">
    <div class="avatar" *ngIf="blog.user.avatar">
      <img [src]="serverUrl + blog.user.avatar" alt="Loading...">
    </div>
    <div class="name-action">
      <div class="blog-info">
        <div class="blog-details">
          <div class="user-name">{{ usersFullName(blog.user.first_name, blog.user.last_name) }}
            <div class="online-status">
            </div>
          </div>
          <span>{{blog.theme.themeDescription}}
            <span class="blog-theme">{{blog.theme.title | lowercase }}
           </span>
         </span>
          <span *ngIf="blog.photos !== null && blog.photos.length > 1"> uploaded
            <span class="gallery-length">{{blog.photos.length}}
           </span>
            <span class="blog-theme">new photos
           </span>
         </span>
        </div>
        <p class="date">{{ blog.created_at | date }}</p>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <div aria-hidden="true" class="close-icon"></div>
    </button>
  </div>
  <!-- modal body -->
  <div class="modal-body">
    <p
      *ngIf="blog.description"
      class="description">{{ blog.description }}
    </p>
    <p
      *ngIf="blog.url && !id"
      class="url">{{ blog.url }}
    </p>
    <div *ngIf="blog.photos !== null && blog.photos.length > 0" class="gallery">
      <button type="button" class="close large-view-btn" (click)="largeView()">
        <div aria-hidden="true" class="large-view icon">
        </div>
      </button>
      <button
        type="button"
        class="close grid-view-btn"
        aria-label="Close"
        (click)="gridView()">
        <div aria-hidden="true" class="icon grid-view">
        </div>
      </button>
      <div *ngIf="blog.photos !== null">
        <div [ngClass]="switchView">
          <div *ngFor="let image of blog.photos">
            <img [src]="serverUrl + image" alt="...Loading">
          </div>
        </div>
      </div>
    </div>
    <youtube-player
      *ngIf="id"
      [videoId]="id"
      (ready)="savePlayer($event)">
    </youtube-player>
  </div>
  <!-- modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>

<app-edit-blog
  (close)="closePopUp($event)"
  *ngIf="showPopUp"
  [blog]="blog">
</app-edit-blog>