// Google fonts
@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Homemade+Apple|Lobster|Mr+Dafoe|Pacifico|Sacramento|Satisfy|Nanum+Gothic|Raleway');
// Variables
$font-caveat: Caveat;
$font-dancing-script: Dancing+Script;
$font-homemade-apple: Homemade+Apple;
$font-lobster: Lobster;
$font-mr-dafoe: Mr+Dafoe;
$font-pacifico: Pacifico;
$font-sacramento: Sacramento;
$font-satisfy: Satisfy;
$font-nanum-gothic: Nanum+Gothic;
$font-raleway: Raleway;
$colour-orange: #ff5e3a;
$colour-grey: #8e92ad;
$colour-yellow: #ffc923;
$colour-blue: #4f89fe;
$colour-deep-grey: #4d4d4d;
$colour-light-grey: rgb(218,216,216);

//Styles
.container {
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: $colour-grey;
  cursor: pointer;
}