<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Registration</h1>
      <p class="lead">If you already a member, please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">First name</label>
          <input 
            type="text" 
            class="form-control" 
            name="first_name" 
            placeholder="Your first name" 
            (change)="focusFunctionFirst_name()"
            [(ngModel)]="credentials.first_name"
            [ngClass]="first_nameFieldsInfo">
          <small 
            class="form-text " 
            [ngClass]="fieldsMessage"
            [ngStyle]="{'color' : credentials.first_name === '' ? 'red' : ''}"
            *ngIf="first_nameFieldsInfo === 'error-input'">This field shouldn't be blank
          </small>
          </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input 
            type="text" 
            class="form-control" 
            name="last_name" 
            placeholder="Your last name" 
            (change)="focusFunctionLast_name()"
            [(ngModel)]="credentials.last_name"
            [ngClass]="last_nameFieldsInfo">
          <small 
            class="form-text " 
            [ngClass]="fieldsMessage"
            [ngStyle]="{'color' : credentials.last_name === '' ? 'red' : ''}"
            *ngIf="last_nameFieldsInfo === 'error-input'">This field shouldn't be blank
          </small>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input 
            type="email" 
            class="form-control" 
            name="email" 
            placeholder="Enter email" 
            [(ngModel)]="credentials.email"
            (change)="focusFunctionEmail()"
            [ngClass]="fieldsInfoEmail">
          <small
            class="form-text" 
            [ngStyle]="{'color' : 'red'}"
            *ngIf="validateEmail.test(credentials.email) === false">incorrect email
          </small>
          <small
            class="form-text"
            [ngStyle]="{'color' : fieldsMessageEmail === 'success-message' ? 'rgb(0, 204, 102)' : 'red'}"
            [ngClass]="fieldsMessageEmail">{{emailFieldsMessage}}
          </small>
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            class="form-control" 
            name="password" 
            placeholder="Password" 
            [(ngModel)]="credentials.password"
            (change)="focusFunctionPassword()"
            [ngClass]="passwordFieldsInfo">
        </div>
        <small 
          class="form-text " 
          [ngClass]="fieldsMessage">{{message}}
        </small>
        <small 
        *ngIf="credentials.password && credentials.password.length < 6"
        class="form-text" 
        [ngStyle]="{'color' : 'red'}">Password should be no shorter than 6 characters 
     </small>
        <button type="submit" class="btn btn-warning">Register!</button>
      </form>
    </div>
  </div>
</div>